@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");
*

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

:root{
    --whitecolor: #131617;
    --bg-color: #191C1D;
    --bg-btn:#dc4f72;
    --title-color: #EEEEEE;
    --text-color: #B7B7B7;
    --textp: #EEEEEE;
}
/* :root{
    --whitecolor: #000000;
    --bg-color: #404040;
    --primary:#dc4f72;
    --title-color: #2C3038;
    --text-color: #5a5a5a;// MÀU CỦA CHỮ NHỎ
    var(--bg-btn);
    var(--textp);

} */


li {
  list-style: none;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.title h2{
  color: #EEEEEE !important;
}

.h3{
  color: #EEEEEE !important;
}

.description{
  color: #B7B7B7 !important;
}

.whychoose__content{
  background-color: #131617;
  margin-top: 0px !important;
}

.about_company{
  background-color: #191C1D !important;
  margin-top: 0px !important;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 90px;
  padding: 0;
  display: grid;
  align-items: center;
  width: 100%;
  z-index: 99;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  transition: all 1s;
}

header .navigation {
  position: relative;
}

header .navigation .container-fluid {
  max-width: 1200px;
  margin: auto;
  padding: 0 25px;
}

header .navigation .container-fluid .logo {
  margin: 0;
  padding: 0;
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  color: #DC4F72;
  letter-spacing: -1px;
}

header .navigation .container-fluid .navbar-toggler {
  background: var(--bg-btn);
}

header .navigation .container-fluid .navbar-toggler i {
  color: #fff;
}

@media screen and (max-width: 992px) {
  header .navigation .container-fluid .menu {
    padding: 30px 0;
  }
}

@media screen and (max-width: 992px) {
  header .navigation .container-fluid .menu .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

header .navigation .container-fluid .menu .list .nav-item:hover {
  background: transparent;
}

header .navigation .container-fluid .menu .list .nav-item .nav-link {
  position: relative;
  transition: all 0.6s ease;
}

header .navigation .container-fluid .menu .list .nav-item .nav-link:hover {
  color: #DC4F72;
}

header .navigation .container-fluid .menu .list .nav-item .nav-link:hover::after {
  width: 20px;
}

header .navigation .container-fluid .menu .list .nav-item .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 8px;
  bottom: 5px;
  background: #DC4F72;
  transition: width 0.5s;
}

@media screen and (max-width: 992px) {
header .navigation .container-fluid .menu .list .nav-item .nav-link::after {
    left: 0;
  }
}

header .navigation .container-fluid .menu .list .home .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: var(--title-color);
  letter-spacing: 0;
}

header .navigation .container-fluid .menu .list .about .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: var(--title-color);
  letter-spacing: 0;
}

header .navigation .container-fluid .menu .list .service .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: var(--title-color);
  letter-spacing: 0;
}

header .navigation .container-fluid .menu .list .page .nav-link {
  position: relative;
  transition: all 0.6s ease;
}

header .navigation .container-fluid .menu .list .page .nav-link:hover {
  color: #DC4F72;
  display: inline-block;
}

header .navigation .container-fluid .menu .list .page .nav-link:hover::after {
  width: 20px;
}

@media (min-width: 992px) and (max-width: 2000px) {
  header .navigation .container-fluid .menu .list .page .nav-link:hover::after {
    left: 8px;
  }
}

header .navigation .container-fluid .menu .list .page .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0px;
  bottom: 5px;
  background: #DC4F72;
  transition: width 0.5s;
}

header .navigation .container-fluid .menu .list .page .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: var(--title-color);
  letter-spacing: 0;
}

header .navigation .container-fluid .menu .list .page ul li a {
  position: relative;
  transition: all 0.6s ease;
}

header .navigation .container-fluid .menu .list .page ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 16px;
  bottom: 0px;
  background: #DC4F72;
  transition: width 0.5s;
}

header .navigation .container-fluid .menu .list .page ul li a:hover {
  color: #dc4f72;
  background: transparent !important;
}

header .navigation .container-fluid .menu .list .page ul li a:hover::after {
  color: #DC4F72;
  width: 20px;
}

header .navigation .container-fluid .menu .list .contact .nav-link {
  font-size: 16px;
  font-weight: 400;
  color: var(--title-color);
  letter-spacing: 0;
}

header .navigation .container-fluid .menu .list .schedule:hover {
  background: transparent;
}

header .navigation .container-fluid .menu .list .schedule a.button-schedule {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #DC4F72;
  background: var(--whitecolor);
  border: 1px solid #DC4F72;
  border-radius: 5px;
  padding: 10px 30px;
  transition: 0.3s ease-out;
}

header .navigation .container-fluid .menu .list .schedule a.button-schedule:hover {
  color: #fff;
  background: #DC4F72;
}

.navbar-nav .nav-item:hover {
  background-color: rgba(180, 190, 203, 0.4);
}

.fa-angle-down:before {
  content: "\f107";
  font-size: 12px;
}

img {
  max-width: 100%;
}

* {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header{
  background-color: #131617;
}
/* header  */
/* -------------- */
/* CAROUSEL */
.carousel {
  margin-top: 90px;
}

.carousel .content {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background: #ffffff;
  background-image: linear-gradient(to right, var(--whitecolor), rgba(255, 255, 255, 0.92)), url(../img/banner.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  padding-top: 5rem;
}

.carousel .content .container {
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.carousel .content .container .content-left .title {
  font-size: 50px;
  font-weight: 700;
  color: var(--title-color);
}

.carousel .content .container .content-left .desc {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 400;
}

.carousel .content .container .content-left .link-about {
  color: #dc4f72;
  border-color: #dc4f72;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}

.carousel .content .container .content-left .link-about:hover {
  transition: 0.3s;
  color: #fff;
  background-color: #dc4f72;
}

.carousel .content .container .content-thumbnail img {
  transform: rotate(180deg);
}

/* CAROUSEL */
/* -------------- */
/* WHY CHOOSE */
.whychoose__content {
  margin-top: 8px;
  padding: 60px 0;
}

.whychoose__content .container {
  max-width: 1200px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.whychoose__content .container .content-top {
  max-width: 750px;
  margin: 0 auto;
}

.whychoose__content .container .content-top .sub-title {
  font-size: 16px;
  font-weight: bold;
  color: #dc4f72;
  text-transform: uppercase;
}

.whychoose__content .container .content-top .title {
  font-size: 50px;
  line-height: 1;
  font-weight: bold;
}

.whychoose__content .container .content-top .description {
  font-size: 16px;
  font-weight: 400;
}

.whychoose__content .container .content-bottom .feature__item {
  padding: 50px 30px;
  border-radius: 10px;
  background: var(--bg-color);
  border: 1px solid #f7f9fc;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transition: all 0.5s;
}

.whychoose__content .container .content-bottom .feature__item:hover {
  transform: translateY(-15px);
  background: #131617;
  border: 1px solid #eee;
  transition: all 0.5s;
}

.whychoose__content .container .content-bottom .feature__item a {
  text-decoration: none;
}

.whychoose__content .container .content-bottom .feature__item a .name {
  font-size: 23px;
  font-weight: bold;
  color: var(--textp);
  margin: 10px 0;
}

.whychoose__content .container .content-bottom .feature__item a p {
  font-size: 16px;
  color: var(--text-color);
  margin-top: 15px;
}
/* WHY CHOOSE */
/* -------------- */
/* ABOUT US */
.about_company {
  margin-top: 8px;
  padding: 60px 0;
  background-color: var(--bg-color);
}

.about_company .container {
  max-width: 1200px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.about_company .container .info-left .sub-title {
  font-size: 16px;
  font-weight: bold;
  color: #dc4f72;
  text-transform: uppercase;
}

.about_company .container .info-left .title {
  font-size: 35px;
  line-height: 1;
  font-weight: bold;
  margin: 10px 0 25px 0;
}

.about_company .container .info-left .description {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 50px;
}

.about_company .container .info-left .read-more {
  background-color: #dc4f72;
  color: #fff;
  border-color: #dc4f72;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}

.about_company .container .info-left .read-more:hover {
  transition: 0.3s;
  background-color: #d62f58;
}

.about_company .container .thumbnail-right img {
  border-radius: 5px;
  max-width: 100%;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
}

.about_company .container .thumbnail-right img:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/*COUNT-UP*/
.counter__content {
  padding: 60px 0;
  background-color: var(--bg-color);
}

.counter__content .container {
  max-width: 1200px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.counter__content .container .counter_item {
  padding: 30px 30px;
  border-radius: 10px;
  background: var(--whitecolor);
  border: 1px solid #c6c6c6;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  transition: all 0.5s;
}

.counter__content .container .counter_item .title_counter {
  font-size: 16px;
  font-weight: bold;
}

.counter__content .container .counter_item .counter {
  font-size: 50px;
  color: #dc4f72;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 10px;
}

.counter__content .container .counter_item .desc_counter {
  font-size: 16px;
  color: var(--text-color);  
  font-weight: 400;
}
/* ABOUT US */
/* -------------- */
/* INTRODUCE */
.introduce__content {
  display: flex;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 480px;
  align-items: center;
  padding: 30px 0;
}

.introduce__content .container {
  max-width: 1200px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.introduce__content .container .introduce-left .title {
  font-size: 30px;
  font-weight: bold;
}

.introduce__content .container .introduce-left .desc {
  font-size: 16px;
  color: #eee;
  line-height: 24.5px;
}

.introduce__content .container .introduce-left .btn-redirect {
  background-color: #f8f9fa;
  color:var(--textp);
  border-color: #f8f9fa;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}

.introduce__content .container .introduce-left .btn-redirect:hover {
  transition: 0.3s;
  background-color: #e2e6ea;
  border-color: #e2e6ea;
}

/* .btn-redirect:not(:disabled):not(.disabled).active, .show > .btn-redirect.dropdown-toggle {
  color: #212529;
  background-color: #dae0e5;
  border-color: #d3d9df;
} */
/* .introduce__content .container .introduce__left .btn-redirect:focus 
{
    border:3px solid rgb(169,184,195); 
} */
/* INTRODUCE */
/* -------------- */
/* SOLUTIONS */
.solutions {
  padding: 60px 0;
  background-color: var(--whitecolor);
}

.solutions .container {
  max-width: 1200px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.solutions .container .solutions__top {
  max-width: 750px;
  margin: 0 auto;
}

.solutions .container .solutions__top .sub-title {
  font-size: 16px;
  font-weight: bold;
  color: #dc4f72;
  text-transform: uppercase;
}

.solutions .container .solutions__top .title {
  font-size: 50px;
  line-height: 1;
  font-weight: bold;
}

.solutions .container .solutions__top .description {
  font-size: 16px;
  font-weight: 400;
}

.solutions .container .solutions__bottom .card {
  margin: 0 5px;
  border: none;
  overflow: hidden;
  transition: all 0.5s ease;
}

.solutions .container .solutions__bottom .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.solutions .container .solutions__bottom .card:hover .card-img-top {
  filter: grayscale(0%) contrast(100%);
}

.solutions .container .solutions__bottom .card .card-img-top {
  filter: grayscale(100%) contrast(100%);
  transition: all 0.5s ease;
  position: relative;
}

.solutions .container .solutions__bottom .card .date {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0;
  background-color: #DC4F72;
}

.solutions .container .solutions__bottom .card .card-body {
  border: 1px solid #d2d2d2;
  border-top: none;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  overflow: hidden;
  background-color: var(--bg-color);
}

.solutions .container .solutions__bottom .card .card-body:hover .solutions-info .btn-news span {
  transform: translateX(5px);
}

.solutions .container .solutions__bottom .card .card-body:hover .solutions-info .card-title {
  color: #DC4F72;
}

.solutions .container .solutions__bottom .card .card-body .solutions-info .tag-label {
  margin: 20px 0;
  padding: 5px 15px;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 600;
  color: var(--textp);
  letter-spacing: 0;
}

.solutions .container .solutions__bottom .card .card-body .solutions-info .tag-label.green {
  color: #008800;
  background-color: rgba(0, 128, 0, 0.2);
}

.solutions .container .solutions__bottom .card .card-body .solutions-info .tag-label.blue {
  color: #0000ff;
  background-color: rgba(0, 0, 255, 0.2);
}

.solutions .container .solutions__bottom .card .card-body .solutions-info .tag-label.red {
  color: #DC4F72;
  background-color: rgba(238, 97, 120, 0.2);
}

.solutions .container .solutions__bottom .card .card-body .solutions-info .card-title {
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
  color: var(--textp);
  letter-spacing: 0;
  letter-spacing: 0px;
  transition: all 0.3s ease;
}

.solutions .container .solutions__bottom .card .card-body .solutions-info .card-text {
  padding-top: 20px;
  font-size: 15px;
  font-weight: 300;
  color: var(--textp);
  letter-spacing: 0;
  margin-bottom: 50px;
}

.solutions .container .solutions__bottom .card .card-body .solutions-info .btn-news {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #DC4F72;
  letter-spacing: 0;
}

.solutions .container .solutions__bottom .card .card-body .solutions-info .btn-news span {
  transition: all 0.5s ease;
  padding-left: 5px;
}
/* SOLUTIONS */
/* -------------- */
/* QA */
.qa__content {
  padding: 60px 0;
  background-color: var(--bg-color);
}

.qa__content .container {
  max-width: 1200px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.qa__content .container .faq-top {
  max-width: 750px;
  margin: 0 auto;
}

.qa__content .container .faq-top .sub-title {
  font-size: 16px;
  font-weight: bold;
  color: #dc4f72;
  text-transform: uppercase;
}

.qa__content .container .faq-top .title {
  font-size: 50px;
  line-height: 1;
  font-weight: bold;
}

.qa__content .container .faq-top .description {
  font-size: 16px;
  font-weight: 400;
}

.qa__content .container .faq-bottom .row .faq-left img {
  border-radius: 6px;
  transition: all 0.3s;
}

.qa__content .container .faq-bottom .row .faq-left img:hover {
  transform: translateY(-15px);
  transition: all 0.3s;
}

.qa__content .container .faq-bottom .row .faq-right .faq-container .faq-item {
  position: relative;
  padding: 25px 50px 25px 20px;
  border: 1px solid #eee;
  margin: 0 0 15px 0;
  border-radius: 6px;
  background: var(--whitecolor);
  transition: 0.3s ease;
  cursor: pointer;
}

.qa__content .container .faq-bottom .row .faq-right .faq-container .faq-item .faq-title {
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  display: block;
  margin: 0;
  cursor: pointer;
  color: var(--title-color);
}

.qa__content .container .faq-bottom .row .faq-right .faq-container .faq-item .faq-text {
  color: var(--title-color);

  font-size: 16px;
  line-height: 24.5px;
  position: relative;
  margin-top: 14px;
  z-index: 2;
  display: none;
}

.qa__content .container .faq-bottom .row .faq-right .faq-container .faq-item .faq-toggle {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 0;
  right: 30px;
}

.qa__content .container .faq-bottom .row .faq-right .faq-container .toggle-active .faq-text {
  display: block;
  transition: all 0.5s;
}

.qa__content .container .faq-bottom .row .faq-right .faq-container .toggle-active .faq-toggle {
  top: 20px;
  height: 30px;
}

.qa__content .container .faq-bottom .row .faq-right .faq-container .toggle-active .faq-toggle .transfer {
  transform: rotate(180deg);
}

/* QA */
/* -------------- */
/* PROJECTS */
.projects {
  padding: 60px 0;
  background-color: var(--whitecolor);
}

.projects .container {
  max-width: 1200px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.projects .container .projects-top {
  max-width: 750px;
  margin: 0 auto;
}

.projects .container .projects-top .sub-title {
  font-size: 16px;
  font-weight: bold;
  color: #dc4f72;
  text-transform: uppercase;
}

.projects .container .projects-top .title {
  font-size: 50px;
  line-height: 1;
  font-weight: bold;
}

.projects .container .projects-top .description {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .projects .container .projects-bottom .nav-tabList {
    background-color: rgb(193, 193, 193);
    border: 1px solid #c1c1c1;
  }
}

.projects .container .projects-bottom .nav-tabList .nav-tabItem {
  list-style: none;
  cursor: pointer;
  float: left;
  width: 33.333%;
  text-align: center;
  border-bottom: 3px solid #c1c1c1;
}

@media screen and (max-width: 768px) {
  .projects .container .projects-bottom .nav-tabList .nav-tabItem {
    width: 100%;
    border-bottom: 1px solid #c1c1c1;
  }
}

.projects .container .projects-bottom .nav-tabList .nav-tabItem button {
  position: relative;
  font-weight: 700;
  font-size: 22px;
  color: #4e5b61;
  background: var(--whitecolor) !important;
  border: none;
  width: 100%;
  border-radius: 0;
}

@media screen and (max-width: 768px) {
  .projects .container .projects-bottom .nav-tabList .nav-tabItem button {
    font-size: 18px;
    text-align: left;
  }
}

.projects .container .projects-bottom .nav-tabList .nav-tabItem .active {
  position: relative;
  top: 3px;
  color: #dc4f72;
  border-bottom: 3px solid #dc4f72;
}

@media screen and (max-width: 768px) {
  .projects .container .projects-bottom .nav-tabList .nav-tabItem .active {
    top: 0;
    border-bottom: none;
  }
}

.projects .container .projects-bottom .tab-content .tabContent-left {
  text-align: left;
}

.projects .container .projects-bottom .tab-content .tabContent-left .title {
  color: var(--textp);
  margin-bottom: 16px;
  font-size: 30px;
  font-weight: bold;
}

.projects .container .projects-bottom .tab-content .tabContent-left .desc {
  color: var(--text-color);
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 24.5px;
}

.projects .container .projects-bottom .tab-content .tabContent-left .btn-redirect {
  color: #dc4f72;
  border-color: #dc4f72;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px;
  padding: 0px 30px;
  text-transform: uppercase;
}

.projects .container .projects-bottom .tab-content .tabContent-left .btn-redirect:hover {
  background-color: #dc4f72;
  color: #fff;
}

.projects .container .projects-bottom .tab-content .tabContent-right {
  display: inline-block;
}
.projects .container .projects-bottom .tab-content .tabContent-right img {
  max-width: 100%;
  height: auto;
  display: block;
}

.projects .container .projects-bottom .tab-content .tabContent-right img {
  border-radius: 6px;
  transition: all 0.6s;
}

.projects .container .projects-bottom .tab-content .tabContent-right img:hover {
  transform: translateY(-15px);
}
/* PROJECTS */
/* -------------- */
/*COMMENT */
.comment__content {
  /* padding: 60px 0;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(247, 249, 252, 0.77),(#131617)), url(../../img/b2.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-attachment: fixed; */
    padding: 60px 0;
    background: linear-gradient(to right, #131617, rgba(255, 255, 255, 0.77)), url(../../img/b2.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.comment__content .container {
  max-width: 1200px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.comment__content .container .comment__content-top {
  max-width: 750px;
  margin: 0 auto;
}

.comment__content .container .comment__content-top .sub-title {
  font-size: 16px;
  font-weight: bold;
  color: #dc4f72;
  text-transform: uppercase;
}

.comment__content .container .comment__content-top .title {
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
}

.comment__content .container .comment__content-top .description {
  font-size: 16px;
  font-weight: 400;
}

.comment__content .container .comment__content-bottom .owl-carousel .item .slider-info {
  max-width: 95%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  grid-gap: 50px;
  background-color: var(--whitecolor);
  border-radius: 6px;
}

@media screen and (max-width: 540px) {
  .comment__content .container .comment__content-bottom .owl-carousel .item .slider-info {
    display: block;
  }
}

.comment__content .container .comment__content-bottom .owl-carousel .item .slider-info .img-circle {
  width: 22%;
  height: 103px;
  display: inline-block;
  overflow: hidden;
  background: #f3f6f9;
  border-radius: 50%;
  border: 3px solid #dc4f72;
}

@media screen and (max-width: 999px) {
  .comment__content .container .comment__content-bottom .owl-carousel .item .slider-info .img-circle {
    width: 30%;
    height: 219px;
  }
}

@media screen and (max-width: 768px) {
  .comment__content .container .comment__content-bottom .owl-carousel .item .slider-info .img-circle {
    height: 170px;
  }
}

@media screen and (max-width: 540px) {
  .comment__content .container .comment__content-bottom .owl-carousel .item .slider-info .img-circle {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.comment__content .container .comment__content-bottom .owl-carousel .item .slider-info .img-circle img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.comment__content .container .comment__content-bottom .owl-carousel .item .slider-info .message {
  position: relative;
  width: 78%;
}

@media screen and (max-width: 999px) {
  .comment__content .container .comment__content-bottom .owl-carousel .item .slider-info .message {
    width: 70%;
  }
}

@media screen and (max-width: 540px) {
  .comment__content .container .comment__content-bottom .owl-carousel .item .slider-info .message {
    text-align: center;
    margin-top: 15px;
    padding: 0;
    width: 100%;
  }
}

.comment__content .container .comment__content-bottom .owl-carousel .item .slider-info .message span {
  font-size: 30px;
  color: var(--textp);
  opacity: 0.2;
  position: absolute;
  top: 0px;
  left: -40px;
  right: 0;
}

.comment__content .container .comment__content-bottom .owl-carousel .item .slider-info .message p {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.comment__content .container .comment__content-bottom .owl-carousel .item .slider-info .message .name h4 {
  font-size: 18px;
  color: #dc4f72;
  font-weight: 400;
}

.comment__content .container .comment__content-bottom .owl-carousel .item .slider-info .message .name p {
  font-size: 13px;
  color: var(--text-color);
}

.comment__content .container .comment__content-bottom .carousel-homepage .owl-dots .owl-dot span {
  width: 40px;
  height: 5px;
  margin: 5px 5px;
  background: var(--whitecolor);
  display: block;
  border: none;
  transition: opacity 0.2s ease;
  border-radius: 0;
  position: relative;
}

.comment__content .container .comment__content-bottom .carousel-homepage .owl-dots .active span {
  background-color: #dc4f72;
}

/*ready__content*/
.ready__content {
  background-color: var(--whitecolor);
  padding: 60px 0;
}

.ready__content .container {
  max-width: 1200px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.ready__content .container .ready__content-top {
  max-width: 750px;
  margin: 0 auto;
}

.ready__content .container .ready__content-top .title {
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
}

.ready__content .container .ready__content-top .description {
  font-size: 16px;
  font-weight: 400;
}

.ready__content .container .ready__content-bottom .btn-contact {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  margin: 0px 10px;
  padding: 0px 30px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .ready__content .container .ready__content-bottom .btn-contact {
    line-height: 44px;
    padding: 0px 20px;
  }
}

.ready__content .container .ready__content-bottom .left {
  border: 1px solid #dc4f72;
  color: #dc4f72;
  background-color: var(--whitecolor);
}

.ready__content .container .ready__content-bottom .left:hover {
  background-color: #dc4f72;
  color: #fff;
  transition: all 0.3s;
}

.ready__content .container .ready__content-bottom .right {
  border: 1px solid #dc4f72;
  background-color: #dc4f72;
  color: #fff;
}

/* FOOTER */
footer {
  background: var(--bg-color);
  padding: 50px 0;
  width: 100%;
}

footer .container-fluid {
  max-width: 1200px;
}

footer .container-fluid .wrapper .main-row {
  padding: 30px 0;
  gap: 30px;
}

footer .container-fluid .wrapper .main-row .column .footer-heading h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--title-color);
  letter-spacing: 0;
  line-height: 25px;
  margin-bottom: 30px;
}

footer .container-fluid .wrapper .main-row .column .footer-body ul {
  list-style: none;
  padding: 0;
  line-height: 35px;
}

footer .container-fluid .wrapper .main-row .column .footer-body ul li {
  font-size: 15px;
  font-weight: 400;
  color: #656f7b;
  letter-spacing: 0;
  text-transform: capitalize;
  padding: 0;
  transition: all 0.3s;
}

footer .container-fluid .wrapper .main-row .column .footer-body ul li:hover {
  color: #DC4F72;
}

footer .container-fluid .wrapper .main-row .form-handle .footer-body {
  background-color: var(--whitecolor);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

footer .container-fluid .wrapper .main-row .form-handle .footer-body .end-column h4 {
  font-size: 18px;
  font-weight: 500;
  color: var(--title-color);
  letter-spacing: 0;
  line-height: 25px;
  padding: 20px 0;
}

footer .container-fluid .wrapper .main-row .form-handle .footer-body .end-column form input {
  background: var(--bg-color);
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 70%;
  color: var(--title-color);
  font-weight: 600;
  border-radius: 5px;
}

footer .container-fluid .wrapper .main-row .form-handle .footer-body .end-column form button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background: #DC4F72;
  border: 1px solid #DC4F72;
  border-radius: 5px;
  padding: 10px 30px;
}

footer .container-fluid .wrapper .main-row .form-handle .footer-body .end-column p {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  letter-spacing: 0;
  line-height: 25px;
}

footer .container-fluid .wrapper .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 992px) {
  footer .container-fluid .wrapper .copyright {
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
  footer .container-fluid .wrapper .copyright .columns {
    width: 100%;
  }
}

footer .container-fluid .wrapper .copyright .columns p {
  line-height: 22px;
  color: var(--text-color);
  font-size: 16px;
}

@media screen and (max-width: 500px) {
  footer .container-fluid .wrapper .copyright .columns p {
    font-size: 14px;
  }
}

footer .container-fluid .wrapper .copyright .columns p a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
  transition: all 0.3s;
}

footer .container-fluid .wrapper .copyright .columns p a:hover {
  color: #DC4F72;
}

@media screen and (max-width: 992px) {
  footer .container-fluid .wrapper .copyright .columns-2 {
    text-align: center !important;
  }
}

footer .container-fluid .wrapper .copyright .columns-2 .social {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

@media screen and (max-width: 992px) {
  footer .container-fluid .wrapper .copyright .columns-2 .social {
    justify-content: center;
    padding: 0;
  }
}

footer .container-fluid .wrapper .copyright .columns-2 .social li {
  margin: 0 10px;
}

@media screen and (max-width: 500px) {
  footer .container-fluid .wrapper .copyright .columns-2 .social li {
    margin: 0 5px;
  }
}

footer .container-fluid .wrapper .copyright .columns-2 .social li a {
  color: var(--title-color);
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

footer .container-fluid .wrapper .copyright .columns-2 .social li a i {
  font-size: 15px;
  transition: all 0.3s;
}

@media screen and (max-width: 500px) {
  footer .container-fluid .wrapper .copyright .columns-2 .social li a i {
    font-size: 13px;
  }
}

footer .container-fluid .wrapper .copyright .columns-2 .social li a i:hover {
  color: #DC4F72;
}
/* FOOTER */

/* -------------- */
/* BACK TO TOP */
.btn-backTop {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 0px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 45px;
  background: #dc4f72;
  padding: 0;
  opacity: 0.7;
  transition: 0.3s ease;
}

.btn-backTop:hover {
  background-color:#db2e59;
}
/* BACK TO TOP */