* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

:root{
    --whitecolor: #fff;
    --bg-color: #F7F9FC;
    --primary:#dc4f72;
    --title-color: #2C3038;
    --text-color: #5a5a5a;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.title h6 {
  color: var(--primary);
  text-transform: uppercase;
}

.title h3 {
  color: var(--title-color);
  font-size: 2.8rem;
  line-height: 1;
}

.btn-outline {
  transition: 0.3s ease-out;
  display: inline-block;
  line-height: 52px;
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0px 30px;
  text-transform: uppercase;
  color: #dc4f72;
  border: 1px solid #dc4f72;
}

.btn-outline:hover {
  color: var(--whitecolor);
  background-color: #dc4f72;
}


/* header  */
header nav {
  background-color:var(--whitecolor);
  height: 100%;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}


header .navbar-brand i {
  color: #dc4f72;
  font-size: 1.8rem;
}

header .navbar-brand span{
  color: #dc4f72;
  font-size: 1.6rem;
  font-weight: bold;
}

header nav ul li {
  margin: 0 10px;
}

header nav ul li.active a {
  color: #dc4f72;
}

header nav ul li:hover a {
  color: #dc4f72;
}

header nav ul li.nav__text a {
  position: relative;
  /* padding: ; */
}
header nav ul li.nav__text a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  background-color: #dc4f72;
  bottom: 0;
  left: 0;
  transform:translateX(8px) ;
  transition: all .5s;
}

header nav ul li.nav__text:hover a::after {
  width: 25px;
}

header .navbar-toggler-icon{
  background-color: #dc4f72;
  background-size: 150%;
  color: var(--whitecolor);
  align-items: center;
  font-size: 1rem;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 5px;
  padding: 3px;
} 

/* header  */
/* -------------- */
/* CAROUSEL */
#carousel { 
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url('../img/banner.jpg');
  background-size: cover;
  /* background-repeat: no-repeat, no-repeat, no-repeat; */
  background-position: center;
  background-attachment: fixed;
  padding-top: 60px;
  margin-top: 50px;
}

#carousel img {
  rotate: 180deg;
}

#carousel .content__left h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

#carousel .content__left p {
  padding-right: 150px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-color);
}

/* CAROUSEL */
/* -------------- */
/* WHY CHOOSE */

.whychoose__text {
  text-align: center;
  margin-bottom: 40px;
}

.whychoose__text p:first-of-type{
  color: #dc559b;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.whychoose__text h2 {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 10px;
}

.whychoose__content {
  display: flex;
  padding: 40px 10px;
}

.whychoose__contact {
  text-align: center;
  width: 100%;
  border-radius: 0.5rem;
  background: #f7f9fc;
  padding: 40px 30px;
  margin-right: 20px;
  transform: translateY(0);
  transition: all 0.5s;
}

.whychoose__contact:hover {
  transform: translateY(-15px);
  box-shadow: 0 0 20px 0 rgb(34 34 35 / 32%);
  background: white;
  text-decoration: none;
}

.whychoose__contact a h2 {
  font-size: 1.5rem;
  padding: 10px 0;
}

.whychoose__contact a p {
  color: gray;
}

.whychoose__contact:hover h2,
.whychoose__contact:hover p{
  color: #000;
}

.whychoose__contact a{
  text-decoration: none;
}
/* WHY CHOOSE */
/* -------------- */
/* ABOUT US */
#aboutUs {
  padding-top: 70px;
  background-color: #f7f9fc;
}
.aboutUs__text {
  display: flex;

}

.aboutUs__left {
  width: 100%;
}

.aboutUs__left p:first-of-type{
  color: #dc559b;
  font-weight: 700;
}

.aboutUs__left h2 {
  font-weight: 600;
  font-size: 34px;
  padding-bottom: 10px;
}

.aboutUs__left p:last-of-type{
  color:gray;
}

.aboutUs__left .button button {
  width: 160px;
  height: 55px;
  border: none;
  border-radius: 5px;
  background-color: #dc4f72;
  color: white;
  font-weight: 500;
  transition: all 0.2s;
  margin-top: 30px;
  cursor: pointer;
}

.aboutUs__left .button:hover button{
 background-color: #d62f58;
 border: #d62f58;
}

.aboutUs__right img{
  width: 100%;
  border-radius: 10px;
}

.aboutUs__number{
  display: flex;
}

.number__content {
  width: 100%;
  border-radius: 5px;
  background-color: white;
  padding: 20px 30px;
  margin: 80px 20px 80px 0;
  box-shadow: 0 0 20px 0 rgb(215 191 191 / 19%);
  transition: all 0.3s;
}

.number__content:hover {
  box-shadow: 0 0 20px 0 rgb(12 12 19 / 10%);

}

.number__content p:first-of-type{
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 15xpx;
}

.number__content h2 {
  color: #dc4f72;
  font-size: 46px;
  font-weight: 650;
  margin-bottom: 10px;
}

.number__content p:last-of-type{
  color: gray;
}


/* ABOUT US */
/* -------------- */
/* COMMIT */
.commit__content {
    display: flex;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    align-items: center;
    padding: 30px 0;
  }
  .commit__content .container {
    max-width: 1200px;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
  }
  .commit__content .container .commit__left .title {
    font-size: 30px;
    font-weight: bold;
  }
  .commit__content .container .commit__left .desc {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
  }
  .commit__content .container .commit__left .btn-redirect {
    background-color: #f8f9fa;
    color: #000;
    border-color: #f8f9fa;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
  }
  .commit__content .container .commit__left .btn-redirect:hover {
    transition: 0.3s;
    background-color: #e2e6ea;
    border-color: #e2e6ea;
  }

/* COMMIT */
/* -------------- */
/* SOLUTIONS */


/* SOLUTIONS */
/* -------------- */
/* QA */


/* QA */
/* -------------- */
/* PROJECTS */


/* PROJECTS */
/* -------------- */
/* COMMENT */

/* COMMENT */
/* -------------- */
/* GET STARTED */

/* GET STARTED */
/* -------------- */
/* FOOTER */

/* FOOTER */
/* -------------- */
/* BACK TO TOP */

/* BACK TO TOP */